<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSSSSS} [%t] %-5level %logger{1.} %M - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger level="ERROR" name="io.netty">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="ERROR" name="io.vertx">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>